<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="font-weight:bold;"><span style="color:#4A79FE;">EASY</span> FIND</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="save" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    물건 넣기
                </a>
                <div class="dropdown-menu" aria-labelledby="save">
                    <a class="dropdown-item" href="/data/barcode_in">물건 저장하기</a>
                    <a class="dropdown-item" href="/data/list">넣은 물건 검색하기</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="save" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    물건 빼기
                </a>
                <div class="dropdown-menu" aria-labelledby="save">
                    <a class="dropdown-item" href="/data/barcode_out">물건 빼기</a>
                    <a class="dropdown-item" href="#">뺀 물건 검색하기</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    계정
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/member/member_signIn">로그인</a>
                    <a class="dropdown-item" href="#">로그아웃</a>
                    <a class="dropdown-item" href="/member/member_list">회원 관리</a>
                    <a class="dropdown-item" href="#">요금제 관리</a>
                </div>
            </li>
        </ul>
    </div>
</nav>